.topology{
    /*width: 60vw;*/
    min-height: 45vh;
}
.topology-img-wrapper{
    /*width: 60vw;*/
    height: 40vh;
    padding-left: calc(25vw - 30vh);
    background: #FFFFFF;
}
img{
    /*width: 60vw;*/
    height: 40vh;
}