.panel-title {
    /*width: 50vw;*/
    height: 5vh;
    background: linear-gradient(90deg, rgba(32, 160, 255, 0.2) 0%, rgba(32, 159, 248, 0.1) 100%);
    border-left: 8px solid #09FBFF;
    border-image: -webkit-linear-gradient(#09FBFF, #1899FF) 0 100;
    border-image: -moz-linear-gradient(#09FBFF, #1899FF) 0 100;
    border-image: linear-gradient(#09FBFF, #1899FF) 0 100;
    border-radius: 2px;

}
.panel-title-text{
    display: inline-block;
    height: 5vh;
    margin-left: 10px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC, serif;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 5vh;
    letter-spacing: 1px;
}