.topology{
    /*width: 60vw;*/
    min-height: 50vh;
}
.topology-img-wrapper{
    /*width: 60vw;*/
    height: 45vh;
    padding-left: calc(25vw - 35vh);
    background: #FFFFFF;
}
img{
    /*width: 60vw;*/
    height: 45vh;
}